body {
    background: linear-gradient(135deg, #f7f7f8);
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}


.employer-user {
    height: max-content;
        width: 80%;
        margin: 40px auto;
        border-radius: 12px;
        padding: 25px;
        font-weight: bold;
}

.sidebar-emp {
    width: 20%;
        background: rgb(46, 59, 238);
        padding: 10px;
        height: 780px;
        gap: 15px;}

.employer-user h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

logo-texts {
    color: #f3f4f6;
    font-weight: bold;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}


thead {
    background: linear-gradient(90deg, #36d1dc, #5b86e5);
    color: white;
}

thead th {
    padding: 12px;
    text-align: left;
    font-size: 15px;
}

tbody tr {
    transition: 0.3s;
}

tbody tr:nth-child(even) {
    background-color: #f7f9fc;
}

tbody tr:hover {
    background-color: #eef2ff;
    transform: scale(1.01);
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #444;
}
.av{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.status-active {
    color: #16a34a;
    font-weight: bold;
}

.status-blocked {
    color: #dc2626;
    font-weight: bold;
}


button {
    padding: 6px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}


.block-btn {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
}

.block-btn:hover {
    opacity: 0.85;
}


.unblock-btn {
    background: linear-gradient(45deg, #00c9ff, #92fe9d);
    color: #003333;
}

.unblock-btn:hover {
    opacity: 0.85;
}